@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '~antd/dist/antd.css';

@font-face {
  font-family: Kiro;
  src: url('./assets/fonts/Kiro-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: #252733;
}

html {
  scroll-behavior: smooth;
}


@media (min-width:769px) and (max-width:1200px) {}



@media (max-width:768px) {}