@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: Akira-Super;
  src: url('./assets/fonts/akira.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}



body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: Akira-Super;
}


@media (min-width:769px) and (max-width:1200px) {}



@media (max-width:768px) {}